* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.header {
  width: 100%;
  height: 84px;
  background-color: gainsboro;
  display: flex;
}

.logo {
  width: 140px;
  margin: 10px;
}

.contents {
  display: flex;
}

.ct1 {
  background-color: aqua;
  width: 50%;
  height: 500px;
}

.ct2 {
  width: 50%;
}

#map {
  width: 100%;
  height: 100%;
}
