.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
}
.footer > a > img {
  width: 55px;
}
.footer > div {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #aaaaaa;
}
