.introduction__item {
  margin: 30px 20px;
  box-shadow: 5px 5px 3px #dbdbdb;
}
.introduction__item--body {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  align-items: center;
}
/* 가게명 */
.introduction__item--body > div:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
}
/* 번호 */
.introduction__item--body > div:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
/* 주소 */
.introduction__item--body > div:nth-child(3) {
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
}
/* 가게 홍보 멘트 */
.introduction__item--body > div:nth-child(4) {
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  line-height: 25px;
}
