.mask {
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 90;
}
.slide-box__wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.slide-box {
  background-color: #ffffff;
}
.slide-box__header {
  background-color: #f0a500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 22px;
  font-weight: 900;
  color: #ececeb;
  height: 55px;
}
.slide-box__main div {
  border-bottom: 1px solid #ececeb;
  color: #f0a500;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
}
.slide-box__close {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slide-box__close img {
  height: 40px;
  margin-top: 30px;
}
