.title-box {
  margin: 30px 20px 20px 20px;
}
.title-box > span {
  font-size: 16px;
  background-color: #cf7500;
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px;
  color: #ececeb;
  font-weight: 900;
}
